<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    
    {{ $nbBaseCss := resources.Get "style/nb-base.css" }}
		{{ $style := resources.Get "style/style.scss" | toCSS | minify }}
		{{ $css := slice $nbBaseCss $style | resources.Concat "style/bundle.css" }}
		<link rel="stylesheet" href="{{ $css.Permalink }}" media="screen">
  </head>
  <body>
    <div class="content">
      {{ block "content" . }}{{ end }}
    </div>  

    {{ $nbBaseJs := resources.Get "scripts/nb-base.js" }}
		{{ $scripts := resources.Get "scripts/index.js" }}
		{{ $js := slice $nbBaseJs $scripts | resources.Concat "scripts/bundle.js" }}
    <script type="text/javascript" src="{{ $js.Permalink }}"></script>  
  </body>
</html>