<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    
    {{ $nbBase := resources.Get "style/nb-base.css" | minify }}
		<link rel="stylesheet" href="{{ $nbBase.Permalink }}" media="screen">

		{{ $style := resources.Get "style/style.scss" | toCSS | minify }}
		<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
  </head>
  <body>
    <div class="content">
      {{ block "content" . }}{{ end }}
    </div>  
    <script type="text/javascript" src="/scripts/nb-base.js"></script>
    <script type="text/javascript" src="/scripts/headroom.min.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>  
  </body>
</html>